* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.expense-trackerBody {
  background-color: #023047;
  width: 100%;
  height: 100vh;

}

.expense-tracker {
  width: 100vw;
  align-items: center;
  color: #fff;
  margin: 20px;
}

.expense-tracker .name-model {
  width: 100%;
  color: #023047;
  background-color: #2980b9;
  font-size: 20px;
  font-weight: bold;
}

.expense-tracker h1 {
  font-size: 40px;
}

.expense-tracker button {
  margin-left: 10px;
}

.profile {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

}

.profile h5{
  color:#3cb0fd;
  font-size: 15px;
  margin-top: 5px;
}

.profile-photo {
  width: 120px;
  border-radius: 50%;
}

.Card-CSS{
  width: 30%;
  margin-top: 30px;
}

.sign-out-button {
  border: none;
  margin-top: 50px;
  width: 150px;
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.sign-out-button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

/* .transactions {
  margin-left: 430px;
  margin-top: 20px;
  padding-left: 10px;
  width: 600px;
  height: 400px;
  overflow: auto;
  border: 3px solid #023047;
} */

.modalButton{
  background-color: #2980b9;
  color: #023047;
  font-weight: bold;
}

.formContainer{
  margin-top: 20px;
}

.AddTransactionContainer{
  width: 100%;
  background-color: #fff;
  margin-top: 65px;
  padding: 10px;
  border-radius: 12px;
}

.chart-container{
  width: 100%;
  
  margin-top: 90px;
}

.incomeChart{
  width: 100%;
  height: 100%;
}

.expenseChart{
  width: 100%;
  margin-left: 80px;
  height: 100%;
}